footer {
    margin-bottom: 0px;
    background-color: #12203E;
    color: #fff;
    grid-column: span 3;
    grid-area: footer;
    margin-top: auto;
    text-align: center;
  }
  .social__media {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
  }